.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__inner {
    border: 1px solid brown;
    border-radius: 4px;
    width: 50%;
    height: 350px;
    overflow: hidden;
}